<div class="container-buttons col-6" *ngIf="getId()!='0'" >
  <button class="btn btn-primary" (click)="updateWord()">Изменить карточку</button>
  <button class="btn btn-primary" (click)="isUpdate=false" [routerLink]="['/card/0']">Добавить слово</button>
</div>
<form class="jumbotron col-6">
  <div class="form-group">
    <label for="english">English</label>
    <input class="form-control" [(ngModel)]="card.englishWord" name="english" [disabled]="disabledInput">
  </div>
  <div class="form-group">
    <button [hidden]="isUpdate || isNewWord" (click)="toggleShowRussian()">{{cardService.showRussian? 'Скрыть перевод': 'Показать перевод'}}</button>
  </div>
  <div class="form-group" [hidden]="!cardService.showRussian && !isUpdate && !isNewWord">
      <label for="russian">Russian</label>
      <input class="form-control" [(ngModel)]="card.russianWord" name="russian" [disabled]="disabledInput">      
  </div>
  <div class="container-buttons">
    <button class="btn btn-primary" [hidden]="!isNewWord" (click)="sendNewWord()">Создать</button>
    <button class="btn btn-primary" [hidden]="!isUpdate" (click)="sendUpdate()">Отправить</button>
    <button class="btn btn-primary" [hidden]="!isUpdate&&!isNewWord" (click)="cancel()">Отмена</button>
  </div>
  <a href="#" [routerLink]="[prevLink]" class="btn btn-primary link link-prev"><</a>
  <a href="#" [routerLink]="[nextLink]" class="btn btn-primary link link-next">></a>
</form>


