.container-buttons{
    text-align: right;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;

    button{
        margin-left: 10px;
    }
}

form{
    margin: 0 auto;
    position: relative;
}

.link{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.link-prev{
    left: -50px;
}

.link-next{
    right: -50px;
}

.form-control:disabled{
    background: #fff;
}